@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Playfair+Display&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1{
    font-family: 'Playfair Display', serif;
}

p{
    
    font-family: 'Pangolin', cursive;
}

.col-2 {
    grid-column: span 2;
}

.row-2 {
    grid-row: span 2;
}

/* start */
nav{
    background: #40b6ff;
}

.flex{
    display:flex;
    align-items:center;
    gap:40px;
}

a{
    text-decoration:none;
    color:#444444;
    transition:color .5s, border-bottom 3s;   
}
.container2 h1{
    transition:all 2s;
    transition-delay:.2s;
    overflow:auto;
}

a:hover{
    color:white;
    border-bottom:1px solid blue;
}

.container2{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-inline:20px;
}






/* section */
.container{
    display:flex;
    min-width:100vw;   
    gap:50px; 
    justify-content:center;
    align-items:center;
    margin-block:10%;
}
  
.text{
    flex-basis:30%;
    text-align:center;
}   

.box-images{
    flex-basis:50%;
    text-align:center;
    display:grid;
    grid-template-columns:repeat(3, 200px);
    grid-template-rows:repeat(4, 100px);   
    gap:7px; 
}  

.box{
    background-size:cover; 
    background-position: bottom;
    display:flex;
    color:white;
    justify-content:center;
    align-items:center;
    background-color:#222;
    background-blend-mode: hard-light;
    /* transition: background-color 2s, background-position 2s, color 2s; */
    transition: all 2s;
}
 

.box:hover{
    background-position: center;
    background-color:#999;
    color:blue;
}


@media (max-width:700px){
    .container{
        flex-direction:column;
    }    
    .box-images {
        flex-wrap:wrap;
    }
}
