/* google font  */
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@500;700&display=swap');

/* font family 

font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;

 */
 
/* roboto */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@500;700&family=Roboto:wght@300;400;700&display=swap');

/* font family 

font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

 */
 

/* resets */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;    
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size:3rem;
    color: #183b56;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size:2rem;
    color: #577592;
}

a{
    text-decoration:none;
    color: #577592;
    display:inline-block;
}

.flex {
    display:flex;
    align-items:center;
}

.container {
    max-width:2129px;
    padding-inline:20px;
    margin-inline:10%;
}

main{
    background: linear-gradient(to top left, #55c1ff, #bfffea);
    height:100vh;
}

/* start website code */

/* nav */
nav{
  border-bottom:1px solid white;  
  background-image: url(background.png);
  background-size:cover;
}

.nav-align {
    justify-content:space-between;
}
.nav-align h1{
    color:white;
}
.nav-links ul{    
    gap:2rem;
}
.links-hover {
    color:white;
    transaction: 0.5 ease out;
}

.links-hover:hover{
    color:#2294ed;
}



/* section */

.style-box{
    margin-inline:1vw;
    margin-block:1vw;
    justify-content:space-between;
    align-items:start;
}

.menu-box{
    border:5px solid red;
    border-top:15px solid blue;
    height:50vh;
    width:35vw;
    border-radius:30px 0 0 30px;
}

/* display box */
.display-box{
    border:15px solid red;
    height:90vh;
    width:60vw;
    border-radius:0 30px 30px 0;
    background-color: white;
    overflow: scroll;
}

.display-icons{
    justify-content:space-between;
    margin-top:.2rem;
    margin-inline:.2rem;    
    border-bottom:2px solid black;
    font-weight:500;
    position:sticky;
    top:.3rem;
    overflow: visible;
}
.display-icons p{
    margin-bottom:.3rem;
    
}
.display-icons a{
    transaction: 0.3 ease out;
}

.display-icons a:hover{
    background-color: #adadad;
    color:white;
}

.display-icons a:nth-child(1){
    border:2px solid green;
    border-radius:10px 0 0 10px;
    padding:.1rem;
    
}
.display-icons a:nth-child(2){
    border:2px solid green;
    border-radius:0 0 0 0;
    padding:.1rem;
}
.display-icons a:nth-child(3){
    border:2px solid green;
    border-radius:0 0 0 0;
    padding:.1rem;
}
.display-icon-left a:nth-child(2){
    background-color:#55ffc1;
}
.display-icon-right a:nth-child(1){
    border:2px solid green;
    border-radius:0 10px 10px 0;
    padding:.1rem;
    
}

/* display-box-content */




/* menu box */
.menu-box{
   overflow: scroll;
   display:block;
}

.demo-project-list{
    padding-inline:2rem;
    font-size:2.5rem;
    padding-block:1rem;
    
}
.demo-project-list a{
    color:black;
    margin-bottom:.3rem;
    transaction: 0.4 ease out;
    }

.demo-project-list a{
    text-decoration:underline;
}


/* footer */
footer{
    height:200px;
    background-color:#31041c ;
}


/* main content */

.main-content img{
    width:100%;
    
}

.main-content a{
    padding:12px 24px;
    border:1px solid blue;
    border-radius:6px;
    margin-left:10px;
    background: #6a78ff;
    color:white;
}

 .main-content h1{
     margin-left:20px;     
 }















